button {
    color: white;
    font-size: 50px;
    font-family: 'Caesar Dressing';
    border: none;
    width: 24.5%;
    background-color: transparent;
}

button:hover {
    box-shadow: 5px 5px 5px 5px;
    font-size: 60px;
}

body {
    background-image: url('https://i.pinimg.com/originals/76/ec/a8/76eca8e9e408283e32823b736e19c966.gif');
    background-size: cover;
    animation-name: intro;
    animation-duration: 3s;
    animation-timing-function: ease-out;
  }
  
@keyframes intro {
    from {opacity: 0;}
    to {opacity: 1;}
  }

#menubar{ 
    border: 3px solid lightblue;
    position: absolute;
    top: 20px;
    background-color: transparent;
    width: 100%;
}

#me {
    color: black;
    font-size: 30px;
    font-family: 'Caesar Dressing';
    border: none;
    width: 25%;
    background-color: rgb(226, 219, 219); opacity: 0.8;
    border-radius: 12px;
}

#home {
    border: 3px solid rgb(214, 173, 230);
    position: relative;
    top: 125px;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

#hometxt {
    color: black;
    font-size: 50px;
    font-family: 'Trade Winds';
    width: 100%;
    display: inline-block;
    animation-name: grow;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 3;
}

@keyframes grow {
    from {padding-top: 50px;}
    to {padding-top: 30px;}
}

span {
    font-size: 75px;
  }

#hometext {
    border: 3px solid lightblue;
    position: relative;
    top: 225px;
    width: 100%;
    text-align: center;
    text-align: center;
    height: fit-content;
    background-color: rgb(252, 249, 249, 0.45); 
}